# Variables de entorno soportadas por YTAudioDownloader
# Prefijo requerido: YTAUDIODOWNLOADER_

YTAUDIODOWNLOADER_ExternalApis__MusicBrainzBaseUrl=https://musicbrainz.org/ws/2
YTAUDIODOWNLOADER_ExternalApis__CoverArtArchiveBaseUrl=https://coverartarchive.org
YTAUDIODOWNLOADER_ExternalApis__ItunesSearchUrl=https://itunes.apple.com/search
YTAUDIODOWNLOADER_ExternalApis__YouTubeImageBaseUrl=https://img.youtube.com/vi
YTAUDIODOWNLOADER_ExternalApis__MusicBrainzUserAgent=YTAudioDownloader/1.0 (Windows; +https://github.com)
