<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Xabe.FFmpeg" />
      <package pattern="Xabe.FFmpeg.*" />
      <package pattern="TagLibSharp" />
      <package pattern="YoutubeExplode" />
      <package pattern="AngleSharp" />
      <package pattern="AngleSharp.*" />
      <package pattern="JsonExtensions" />
      <package pattern="runtime.*" />
      <package pattern="runtime.any.*" />
      <package pattern="runtime.win.*" />
      <package pattern="runtime.win-x64.*" />
      <package pattern="runtime.win-x86.*" />
      <package pattern="runtime.win-arm64.*" />
      <package pattern="Polly.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
